.add-user{
    height: 200px;
    padding: 10px;
    
    padding-left: 80px;
    border: 1px solid blue;
}
.display-user{
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    padding-left: 50px;
    border: 1px solid red;
    overflow: scroll;
}
.add-user-input{
    width: 250px;
    height: 35px;
    padding-left: 100px;
    display: block;
}
.add-user-btn{
    width: 330px;
    height: 35px;
    display: block;
    margin: 10px;
    padding-right: 20px;
}
.div{
background-color: aqua;
margin-top: 10px;
padding: 5px;
border-radius: 5px;
/* width: 200px; */
display: flex;
justify-content: space-between;

}